<div class="my-plugin-content-addon">
    <div class="plugin-section">
        <h3>Contenu additionnel</h3>
        <p>Contenu ajouté par le plugin pour le post ID: {{ post_id }}</p>
        
        <div class="plugin-actions">
            <button class="btn-plugin-action" data-action="like" data-post="{{ post_id }}">
                J'aime
            </button>
            <button class="btn-plugin-action" data-action="share" data-post="{{ post_id }}">
                Partager
            </button>
        </div>
    </div>
</div>